.container {
  width: 750px;
  margin: 20px auto;
}

.clear {
  clear: both;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.button {
  padding: 5px 15px;
  border: 1px solid #000;
  border-bottom-width: 2px;
  border-right-width: 2px;
  background: #FFF;
  cursor: pointer;
}

.button:hover {
  background: #F3F3F3;
}

.button:active {
  border-width: 1px;
  border-top-width: 2px;
  border-left-width: 2px;
}

label {
  display: inline-block;
  float: left;
  text-align: right;
  width: 180px;
  margin-right: 5px;
}

input[type=number] {
  border: 1px solid black;
  height: 1.5em;
  line-height: 1.5em;
}

input.sm {
  width: 50px;
}

.hasError input {
  border-color: red;
}

h3 {
  border-bottom: 2px solid black;
  padding: 8px 15px;
  font-weight: normal;
  margin: 0;
  font-size: 1.1em;
}

.error {
  text-align: center;
  margin-bottom: -35px;
  color: red;
}

#header h1 {
  text-align: center;
}

#form-container {
  float: left;
  width: 360px;
  height: 350px;
  border: 2px solid black;
}

#button-container {
  margin-top: 80px;
}

#result-container {
  float: right;
  width: 360px;
}

#result-container div {
  height: 163px;
  margin-bottom: 20px;
  border: 2px solid black;
}

#customer-charges hr {
  border: 1px solid black;
  color: black;
  margin: 5px;
  width: 200px;
  margin: auto;
}