<!DOCTYPE html>
<html lang="en" ng-app="InstagramSearcher">
<head>
  <meta charset="UTF-8">
  <title>Instagram Searcher</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link href="//netdna.bootstrapcdn.com/bootswatch/2.3.2/united/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
    <div class="logo"></div>
  </header>

  <div ng-controller="SearchCtrl">
    <form class="search-form" name="searchForm" ng-submit="search()" novalidate>
      <input type="text" name="query" ng-model="query" required>
      <button type="submit">Submit</button>
    </form>
  </div>

  <div class="container-fluid">
    <div ng-controller="ResultsCtrl" ng-cloak>
      <div
        ng-show="instagram.searched"
        infinite-scroll="instagram.next()"
        infinite-scroll-disabled="instagram.searched && instagram.loading"
        infinite-scroll-distance="3"
        masonry='{
          "itemSelector": ".tile",
          "columnWidth": 20
        }'>

        <span
          masonry-tile class="tile"
          ng-repeat="image in instagram.images"
          >
          <img
            class="img-thumbnail"
            ng-src="{{image.images.low_resolution.url}}"
            >
        </span>
      </div>

      <div class="row">
        <div ng-show="instagram.loading" class="col-md-6 col-md-offset-3 text-center">
          <div class="alert alert-info">
            Searching Instagram for photos tagged with "{{instagram.query}}"
          </div>
        </div>
        <div ng-show="instagram.hasError" class="col-md-6 col-md-offset-3 text-center">
          <div class="alert alert-error">
            An error occured: {{instagram.lastError}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.2.2/masonry.pkgd.min.js"></script>
  <script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
  <script src="js/vendor/ng-infinite-scroll.min.js"></script>
  <script src="js/vendor/angular-masonry-directive.js"></script>
  <script src="js/app.js"></script>
</body>
</html>