.page-header {
  margin-bottom: 5px;
}

.question, .answerer {
  margin: 5px auto;
  padding-bottom: 5px;
}

.question {
  border-bottom: 1px solid #EBEBEB;
}

.question .box {
  text-align: center;
  font-size: 1.5rem;
}