body {
  font-family: 'Asap', sans-serif;
  background-color: #ECF0F1;
}

header {
  color: #ECF0F1;
  background-color: #34495E;
  border-top: 4px solid #16A085;
  padding: 10px;
  margin-bottom: 20px;
  position: static;
}

header h1 {
  font-size: 25px;
  border-bottom: 1px solid #7f8c8d;
  padding-bottom: 3px;
  margin-bottom: 6px;
}

header h3 {
  font-size: 13px;
  padding-bottom: 2px;
  margin-bottom: 2px;
}

header h3 a {
  color: #ECF0F1;
}

header h3 a:hover {
  color: #16A085;
}

#personal_info {
  width: 23%;
  text-align: right;
  padding-right: 2%;
}

#personal_statement {
  padding-top: 10px;
  width: 75%;
  line-height: 20px;
  font-size: 15px;
  letter-spacing: 1px;
}

.left_menu {
  width: 23%;
  text-align: right;
  padding-right: 2%;
}

.left_menu ul {
  margin-top: 20px;
}

.left_menu ul li {
  text-align: right;
  padding: 5px;
}

.left_menu ul li a {
  padding: 2px 7px 2px 30px;
  border-right: 7px solid #2c3e50;
  background-color: #34495e;
  color: #FFF;
  text-decoration: none;
  font-size: 19px;
}

.left_menu ul li a:hover {
  border-right: 7px solid #16a085;
  background-color: #1abc9c;
}

.main_content {
  width: 75%;
  margin-bottom: 10px;
}

.main_content h1 {
  font-size: 17px;
  background-color: #34495E;
  color: #ECF0F1;
  padding: 10px;
  margin: 20px auto 10px;
}

.main_content h3 {
  font-size: 14px;
  background-color: #16A085;
  color: #FFF;
  padding: 6px 10px;
  margin: 10px auto 10px 20px;
}

.main_content h5 {
  font-size: 14px;
  padding: 3px 0 10px 5px;
  margin: 5px auto 5px 20px;
}

.main_content div > ul {
  margin-left: 40px;
  padding-left: 5px;
  border-left: 5px solid #7f8c8d;
  font-size: 13px;
}

.main_content div > ul li {
  padding: 5px 0;
}

.tag {
  border-bottom: 4px solid #2980b9;
  background-color: #3498db;
  padding: 2px 10px 2px 5px;
  margin: 2px 0px;
  color: #FFF;
  font-size: 12px;
  display: inline-block;
}

.tag i {
  color: #2c3e50;
}

.tag-cloud {
  margin-left: 40px;
}

footer {
  height: 15px;
  color: #ECF0F1;
  background-color: #34495E;
  border-bottom: 5px solid #16A085;
}

img.thumb {
  width: 150px;
  height: 150px;
  padding: 4px;
  line-height: 1.428571429;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.strong,
strong {
  font-weight: 700;
}

em {
  font-style: oblique;
}

.pull-left {
  float: left; 
}

.pull-right {
  float: right;
}

.container {
  width: 980px;
  margin: auto;
}

.spacer {
  width: 100%;
  height: 5px;
}

.highlight {
  background-color: #16A085;
}

.splash {
  color: #16A085;
}

.clear {
  clear: both;
}